<div id="contact">
    <div class="container hidden"
         when-visible="animateElementIn">

        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Contact</h4>
                    <div class="row">
                        <div class="col s3">
                            <div class="contact-section phone-section">
                                <a title="Numero de téléphone" href="tel:+33646839771" class="contact-section">
                                    <i class="fa fa-phone"></i>
                                </a>
                                <div id="contact-phone" class="hidden">06 46 83 97 71</div>
                            </div>
                        </div>

                        <div class="col s3">
                            <div class="contact-section mail-section">
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <div id="contact-email" class="hidden">amelie.benoit33[at]gmail.com</div>
                            </div>
                        </div>

                        <div class="col s3">
                            <a class="contact-section" href="https://fr.linkedin.com/in/amélie-benoit-7611475b">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="col s3">
                            <a class="contact-section" href="http://www.viadeo.com/p/002vtuvkj7ei8fn">
                                <i class="fa fa-viadeo" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>