<div class="hide-on-med-and-down hidden height-0" id="navbarDiv">
    <div class="navbar-fixed">
        <nav class="blue lighten-1" role="navigation" id="navbar">
            <div class="nav-wrapper container">
                <ul class="center ">
                    <li>
                        <a ng-click="goTo('index')">Home</a>
                    </li>
                    <li ng-class="{'active' : getActiveTab() == 'about'}">
                        <a ng-click="goTo('about')">About me</a>
                    </li>
                    <li ng-class="{'active' : getActiveTab() == 'skills'}">
                        <a ng-click="goTo('skills')">Skills</a>
                    </li>
                    <li ng-class="{'active' : getActiveTab() == 'exp'}">
                        <a ng-click="goTo('exp')">Work Experience
                        </a>
                    </li>
                    <li ng-class="{'active' : getActiveTab() == 'school'}">
                        <a ng-click="goTo('school')">Education</a>
                    </li>
                    <li ng-class="{'active' : getActiveTab() == 'contact'}">
                        <a ng-click="goTo('contact')">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>

<div class="navbar-fixed hide-on-large-only">
    <nav class="blue lighten-1" role="navigation" id="navbar-med">
        <div class="nav-wrapper container">
            <ul id="nav-mobile" class="side-nav" style="transform: translateX(-100%);">
                <li>
                    <a ng-click="goTo('index')">Home</a>
                </li>
                <li>
                    <a ng-click="goTo('about')">About me</a>
                </li>
                <li>
                    <a ng-click="goTo('skills')">Skills</a>
                </li>
                <li>
                    <a ng-click="goTo('exp')">Work Experience</a>
                </li>
                <li>
                    <a ng-click="goTo('school')">Education</a>
                </li>
                <li>
                    <a ng-click="goTo('contact')">Contact</a>
                </li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </nav>
</div>


<div id="index" class="parallax-container" when-visible="animateNavBarOut" when-not-visible="animateNavBarIn">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 class="header center light-blue-text text-darken-2">Amélie Benoit</h1>
            <div class="row center">
                <h5 class="header col s12 light light-blue-text">Web Development Engineer</h5>
            </div>
        </div>
    </div>
    <div class="parallax main">
        <img src="asset/images/Working-it.jpg" alt="Unsplashed background img 1" style="display: block; transform: translate3d(-50%, 152px, 0px);">
    </div>

</div>

<div class="container" id="about" when-visible="setAboutActive">
    <div class="section">
        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">favorite_border</i>
                    </h2>
                    <h5 class="center">Curious and passionate</h5>

                    <p class="center light">Passionate about computer science, I am always looking to improve myself and to learn about new technologies
                        or frameworks. That's how I learned about Android development by myself and also developed multiple
                        projects on my own.</p>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">work</i>
                    </h2>
                    <h5 class="center">Experience and adaptability</h5>

                    <p class="center light">I managed to experiment a lot of different types of companies. It leads me to show a strong adaptation
                        capacity. As the experience were different, I also learned about various technologies, methodologies
                        and ways to work.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">mood</i>
                    </h2>
                    <h5 class="center">Positive attitude</h5>

                    <p class="center light">I am a positive person and I like to work in a fun environment. Thus I like to share my good mood at
                        work, notably by organizing fun retrospectives, activites, afterworks...
                    </p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="icon-block">
                    <h2 class="center brown-text">
                        <i class="material-icons">keyboard_voice</i>
                    </h2>
                    <h5 class="center">Conferences</h5>

                    <p class="center light">I had multiple opportunities to give a talk about Sketchnoting this past year. It was a great experience
                        about sharing a way to take notes a bit unusual but so much rewarding.
                        <br/> I also attend to several conferences that allowed me to have a technology watch more living than
                        my usual articles reading.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container quote">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="col s12 light white-text">
                    “Innover, ce n'est pas avoir une nouvelle idée mais arrêter d'avoir une vieille idée.”
                    <br/>
                    <i class="quote en-version">"Innovation is not about having a new idea but stopping having an old idea.”</i>
                    <br/>
                    <span class="right quote-author">
                        <i>- Edwin Herbert Land </i>
                    </span>
                </h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img src="asset/images/Dancing-Bulbs.jpg" alt="" style="display: block;">
    </div>
</div>

<skills-directive when-visible="setSkillsActive"></skills-directive>

<experience-directive when-visible="setExpActive"></experience-directive>

<school-directive when-visible="setSchoolActive"></school-directive>

<contact-directive when-visible="setContactActive"></contact-directive>

<footer class="page-footer blue">
    <div class="container">
        <div class="row">
            <div class="col l3 s12 right">
                <h5 class="white-text">Download</h5>
                <ul>
                    <li>
                        <a class="white-text" href="/CV_Amelie_Benoit.pdf" download>My Résumé</a>
                    </li>
                </ul>
            </div>
            <div class="col l3 s12 right">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://fr.linkedin.com/in/amélie-benoit-7611475b" target="_blank">
                            LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by Amélie Benoit
        </div>
    </div>
</footer>