<div class="no-padding grey lighten-3" id="exp">
    <div class="col s12 center">
        <h4>Experience professionelle</h4>
        <div class="big container">
            <div class="section">
                <div class="row">
                    <div class="col s12 center">
                        <h3><i class="mdi-content-send brown-text"></i></h3>
                        <div id="timeline">
                            <timeline>
                                <timeline-event ng-repeat="exp in experiences">
                                    <timeline-badge class="hidden info"
                                                    when-visible="animateElementIn">
                                    </timeline-badge>

                                    <timeline-panel when-visible="animateElementIn"
                                                    class="hidden info">

                                        <timeline-heading>
                                            <span class="exp-title" ng-bind="::exp.title"></span>
                                            <div><img ng-src="asset/images/{{exp.logo}}"/></div>
                                            <span class="exp-date" ng-bind="::exp.date"></span>
                                        </timeline-heading>
                                        <p class="exp-content" ng-bind-html="exp.content"></p>
                                        <div class="small chip" ng-repeat="skill in exp.skills" ng-bind="::skill"></div>
                                    </timeline-panel>
                                </timeline-event>
                            </timeline>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
