h4 {
  color: #01579b;
  padding-top: 10px;
}
.hidden {
  visibility: hidden;
}
.height-0 {
  height: 0;
}
.container.big {
  width: 85%;
}
.parallax.main {
  opacity: 0.8;
}
.parallax-container.quote {
  height: 250px;
}
.parallax-container.quote .quote-author {
  padding: 20px 0;
}
nav {
  z-index: 101;
}
nav .active {
  border-bottom: white;
  background-color: deeppink;
  transition: border-bottom 0.2s ease, padding 0.8s linear;
}
img#enseirb {
  width: 100%;
}
img#iut {
  width: 100%;
}
.chip {
  margin: 2px 3px;
}
.chip.small {
  font-size: 10px;
}
#timeline img {
  max-width: 200px;
}
#timeline .exp-title {
  color: #0288d1;
  font-size: 1.5em;
  text-align: center;
}
#timeline .exp-date {
  font-size: 0.9em;
  color: #0277bd;
}
#timeline .exp-content {
  text-align: justify;
}
#timeline .exp-part {
  font-size: 1.2em;
  text-align: center;
  padding: 5px 0;
  color: #0288d1;
}
.contact-section {
  color: black;
  cursor: pointer;
  padding: 5px 0;
}
.contact-section i.fa {
  font-size: 4em;
}
.contact-section i.fa:hover {
  color: #03a9f4;
  transition: color 0.2s ease, padding 0.8s linear;
}
