@link-hover: #03a9f4;

.hidden {
  visibility: hidden;
}

.fixed {
  position:fixed;
}

nav {
  z-index: 100;
}

.contact-section {
  i.fa {
    font-size: 4em;

    &:hover {
      color: @link-hover;
      transition: color 0.2s ease, padding 0.8s linear;
    }
  }

  color: black;
  cursor: pointer;
  padding: 5px 0;
}