<div class="container"
     id="school">
    <div class="section">
        <div class="row">
            <div class="col s12 ">
                <h4 class="center">Formation</h4>
                <div class="row hidden"
                     when-visible="animateEnseirbIn">

                    <div class="col s3">
                        <img src="asset/images/enseirb.png" alt="ENSEIRB-Matmeca" id="enseirb"/>
                    </div>

                    <div class="col s9">
                        <b><a href="http://www.enseirb-matmeca.fr/">ENSEIRB-Matmeca</a></b> à Talence.
                        Option Informatique et spécialité Génie Logiciel.</div>
                        <div>Diplôme obenu avec mention bien
                    </div>
                </div>

                <div class="row hidden"
                when-visible="animateIutIn">

                    <div class="col s9 right-align">
                        <b><a href="http://www.iut.u-bordeaux.fr/info/">IUT de Bordeaux I</a></b> à Gradignan.
                        DUT Informatique.
                    </div>

                    <div class="col s3">
                        <img src="asset/images/iut.gif" alt="Iut informatique" id="iut"/>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>