<div class="container" id="school">
    <div class="section">
        <div class="row">
            <div class="col s12">
                <h4 class="center">Education</h4>
                <div class="row hidden" when-visible="animateEnseirbIn">

                    <div class="col s3">
                        <img src="asset/images/enseirb.png" alt="ENSEIRB-Matmeca" id="enseirb" />
                    </div>

                    <div class="col s9">
                        <b>
                            <a href="http://www.enseirb-matmeca.fr/">ENSEIRB-Matmeca</a>
                        </b> Bordeaux School of Engineering in Computer Science, 5 year degree
                    </div>
                </div>

                <div class="row hidden" when-visible="animateIutIn">

                    <div class="col s9 right-align">
                        <b>
                            <a href="http://www.iut.u-bordeaux.fr/info/">IUT de Bordeaux I</a>
                        </b> Diplôme Universitaire de Technologie (DUT), equivalent to a two-year degree in a technical institute.
                    </div>

                    <div class="col s3">
                        <img src="asset/images/iut.gif" alt="Iut informatique" id="iut" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>