<div class="no-padding" id="skills" >
    <div class="col s12 center">
        <h4>Skills</h4>
        <div class="section">

            <div class="row">
                <div class="col s4">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <canvas id="frontSkills" class="chart chart-radar"
                            chart-data="frontSkillsLevel" chart-labels="frontSkillsLabel"
                            chart-hover="null">
                    </canvas>
                </div>
                <div class="col s4">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <canvas id="backSkills" class="chart chart-radar"
                            chart-data="backSkillsLevel" chart-labels="backSkillsLabel"
                            chart-hover="null">
                    </canvas>
                </div>
                <div class="col s4">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <canvas id="softSkills" class="chart chart-radar"
                            chart-data="softwareSkillsLevel" chart-labels="softwareSkillsLabel"
                            chart-hover="null">
                    </canvas>
                </div>
            </div>

        </div>
    </div>
</div>
